{% load fb_versions %}

<div class="card-deck">
{% for prog in progs %}
<div class="card" style="margin-bottom: 20px; min-width: 18rem;">
  <div class="card-header">
    <h4 class="card-title">
    <a href="{% url 'portfolio:project_detail' slug=prog.slug %}">
      {{ prog.title }}</a></h4>
  </div>
  {% if prog.project_image.first %}
    <img class="card-img-top"
      src="{% version prog.project_image.first.fb_image 'landscape' %}"
      alt="{{ prog.intro }}">
  {% endif %}
  <div class="card-body" style="background-color: #dddddd">
    <em class="card-text">{{ prog.intro }}</em>
    <hr>
    <ul class="list-inline">
      {% include 'portfolio/project_meta.html' %}
    </ul>
  </div>
</div>
{% endfor %}
</div>
