{% extends 'base.html' %}
{% load fb_versions %}
{% load i18n %}
{% load l10n %}

{% block title %}{{ website.acro }} | {{ prog.title }}/{% translate "Stations" %}{% endblock title %}

{% block extra-head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
     integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock extra-head %}

{% block content %}
<div class="row">
  <div class="col col-md-8">
    <h4><strong>{% translate "Photo stations of project" %}:
      <a href="{% url 'portfolio:project_detail' slug=prog.slug %}">{{ prog.title }}</a></strong></h4>
  </div>
  <div class="col col-md-4 text-right">
    {% if perms.portfolio.add_projectstation %}
      <a class="btn btn-secondary" href="{% url 'portfolio:station_create' slug=prog.slug %}">{% translate "Add Station" %}</a>
    {% endif %}
    {% if perms.portfolio.add_projectdxfmap %}
      <a class="btn btn-secondary" href="{% url 'portfolio:dxf_create' slug=prog.slug %}">{% translate "Add map" %}</a>
    {% endif %}
  </div>
</div>
<hr class="mb-4">
<div class="row">
  <div class="col" id="mapid" style="height: 480px;"></div>
</div>
{% if stations %}
  <hr class="mb-4">
  <div class="card-deck">
  {% for stat in stations %}
  <div class="card" style="margin-bottom: 20px; min-width: 18rem;">
    <div class="card-header">
      <h4 class="card-title">
      <a href="{% url 'portfolio:station_detail' prog_slug=prog.slug stat_slug=stat.slug %}">
        {{ stat.title }}</a></h4>
    </div>
    {% if stat.station_image.first %}
      <img class="card-img-top"
        src="{% version stat.station_image.first.fb_image 'landscape' %}"
        alt="{{ stat.intro }}">
    {% endif %}
    <div class="card-body" >
      <em class="card-text">{{ stat.intro }}</em>
      <hr>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <a href="/admin/portfolio/projectstation/{{ stat.id }}/change/">{% translate "Modify" %}</a>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
  </div>
{% else %}
<p>{% translate "There are no photo stations available" %}</p>
{% endif %}
{% if is_paginated %}
<nav aria-label="Page navigation container">
<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; {% translate "PREVIOUS" %} </a></li>
  {% endif %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> {% translate "NEXT" %} &raquo;</a></li>
  {% endif %}
</ul>
</nav>
{% endif %}
{% if dates %}
<div class="row">
  <div class="col col-md-8">
    <h4 id="dates"><strong>{% translate "Images by date" %}:</h4>
      <ul>
        {% for date in dates %}
        <li><a href="{% url 'portfolio:image_day' slug=prog.slug year=date.year month=date.month day=date.day %}">{{ date|date:"Y M d" }}</a></li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endif %}
{% endblock content %}
{% block extra-js %}
<script type="text/javascript">
  var mymap = L.map('mapid').setView([{{ prog.lat|unlocalize }}, {{ prog.long|unlocalize }}], {{ prog.zoom|unlocalize }});

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 19,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: '{{ mapbox_token }}'
  }).addTo(mymap);
  {% if stations %}
    {% for stat in stations %}
      L.marker([{{ stat.lat|unlocalize }}, {{ stat.long|unlocalize }}]).addTo(mymap)
        .bindPopup("<h5><a href=\"{% url 'portfolio:station_detail' prog_slug=prog.slug stat_slug=stat.slug %}\">{{ stat.title }}</a></h5><img src=\"{% version stat.station_image.first.fb_image 'medium' %}\"><br><small>{{ stat.intro }}</small>");
    {% endfor %}
  {% endif %}
</script>
{% endblock extra-js %}
