{% extends 'base.html' %}

{% block title %}{{ website.acro }} | {{ stat.title }}{% endblock title %}

{% block content %}
    {% if images %}
      {% include 'portfolio/stationgallery.html' %}
    {% else %}
      <p>Nessuna immagine per questa stazione.</p>
    {% endif %}
      <div class="row row-striped">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3 class="text-uppercase"><strong>{{ stat.title }} /
            <a href="/progetti/{{ stat.prog.slug }}/">{{ stat.prog.title }}</a></strong></h3>
          <ul class="list-inline">
            {% if perms.portfolio.change_projectstation %}
            <li class="list-inline-item">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <a href="/admin/portfolio/projectstation/{{ stat.id }}/change/">Modifica</a>
            </li>
            {% endif %}
            <li class="list-inline-item">
              <i class="fa fa-camera" aria-hidden="true"></i>
              <a href="/progetti/{{ stat.prog.slug }}/stazioni/">Stazioni fotografiche</a>
            </li>
          </ul>
          <hr>
          <p><em>{{ stat.intro }}</em></p>
        </div>
      </div>
{% endblock content %}
